*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(248, 249, 250);
}
.logo{
    width:180px;
    height:60px;
}
.btn-green{
    border-radius: 30px;
}
h6{
    color:red;
}
span{
    color:green;
}
#slide-para-one{
    font-size: 40px;
    font-family: tahoma;
    font-weight: 700;
}
.section_one{
    margin-top: 40px;
}
.card_image{
    width: 30%;
    height:25%; 
    
}
.card_body{
    text-align: center;
    
}
.Crd{
    height: 40vh;
    background-color: rgb(248, 255, 251);
    border-radius: 20px;
}
.crd:hover{
    box-shadow: 2px 2px 2px 1px gray;
    background-color: white;
}
.section_two{
    margin-top:50px;
}
.footer_img_icon1{
    height:5vh;
    width: 20%;
}
.footer_img_icon2{
    height:3vh;
    width: 24%;
}
.crd-title{
    margin-top:20px;
}
.btn_buy_course{
    border-radius: 40px;
    width: 40%;
}
.testimonial_title{
    text-align: center;
    margin: 30px auto 30px auto;
}

#man_img{
    width: 14vw;
    height: auto;
    border-radius: 50px;
}
.test_content{
    margin-top: 20px;
}
.copyright{
    text-align: center;
}
footer{
    margin: 100px auto 0px auto;
    /* border: 2px solid black; */
    background-color: rgb(40, 37, 49);
    color:white;
}
.row{
    padding:40px 10px;
}
.footer_ul{
    list-style: none;
}
